/node_modules
/public/hot
/public/storage
/public/phpmyadmin
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.backup
.env.dusk.local
.buildpath
.project
/.settings
/storage/debugbar
